html {
    margin: 0;

}
body {
    margin: 0;
    background-image: url("https://images.unsplash.com/photo-1502691876148-a84978e59af8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    background-size: cover;
}

h1 {
    width: 950px;
    background-color: rgba(236, 231, 227, 0.9);
    margin-left: 90px;
    margin-top: 40px;
    padding: 10px;
}

p {
    width: 950px;
    background-color: rgba(236, 231, 227, 0.9);
    margin-left: 90px;
    padding: 10px;
}

